<!DOCTYPE html>

<html>

   <head>
      <title>API: Header Parser Microservice</title>
      <link rel="shortcut icon" href="https://bimarshbhusal.com.np/icons/icon-48x48.png?v=646f8c0b51bf5a308a3f13e771d8acf7" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Header Parser Microservice</h2>
        <ul class="user-stories">
          
          <li>API Endpoint: <code>GET [project_url]/api/whoami</code></li>
         
          
        </ul>

        <h3>Example Usage:</h3>
        <ul>
          <li>
            <a href="/headerparser/api/whoami">

              <code>GET [project_url]/api/whoami</code></li>
            </a>          
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
            "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      
   </body>

</html>