<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <link
      rel="shortcut icon"
      href="https://bimarshbhusal.com.np/icons/icon-48x48.png?v=646f8c0b51bf5a308a3f13e771d8acf7"
      type="image/x-icon"
    />
    <!-- <meta charset="utf-8" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      #userstories {
        margin-left: 5%;
        margin-top: 5%;
      }

      .p-50 {
        margin: 50px;
      }

      #testui {
        margin-left: 5%;
      }

      .text-align-left {
        text-align: left;
      }

      input[type="text"] {
        width: 100px;
      }

      .m-50 {
        margin: 50px;
      }

      .mt-200 {
        margin-top: 200px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>ISQA_5 - Nasdaq Stock Price Checker</h1>
    </header>
    <div id="userstories">
      <h3>Example usage:</h3>
      <code>/api/stock-prices?stock=GOOG</code>
      <br />
      <code>/api/stock-prices?stock=GOOG&amp;like=true</code>
      <br />
      <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT</code>
      <br />
      <code>/api/stock-prices?stock=GOOG&amp;stock=MSFT&amp;like=true</code>
      <br />
      <h3>Example return:</h3>
      <code>{"stockData":{"stock":"GOOG","price":786.90,"likes":1}}</code>
      <br />
      <code>
        {"stockData":[{"stock":"MSFT","price":62.30,"rel_likes":-1},{"stock":"GOOG","price":786.90,"rel_likes":1}]}
      </code>
    </div>
    <hr class="p-50" />
    <div id="testui">
      <h2 class="text-align-left">Front-End:</h2>
      <h3>Get single price and total likes</h3>
      <form id="testForm2" class="border">
        <input type="text" name="stock" placeholder="GOOG" required="" />
        <input type="checkbox" name="like" value="true" /> Like?
        <br />
        <button type="submit">Get Price!</button>
      </form>
      <h3>Compare and get relative likes</h3>
      <form id="testForm" class="border">
        <input type="text" name="stock" placeholder="GOOG" required="" />
        <input type="text" name="stock" placeholder="MSFT" required="" />
        <input type="checkbox" name="like" value="true" /> Like both?
        <br />
        <button type="submit">Get Price!</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    <hr class="m-50 mt-200" />
  </body>
  <script>
    document.getElementById("testForm2").addEventListener("submit", (e) => {
      e.preventDefault();
      const stock = e.target[0].value;
      const checkbox = e.target[1].checked;
      fetch(`/api/stock-prices/?stock=${stock}&like=${checkbox}`)
        .then((res) => res.json())
        .then((data) => {
          document.getElementById("jsonResult").innerText =
            JSON.stringify(data);
        });
    });

    document.getElementById("testForm").addEventListener("submit", (e) => {
      e.preventDefault();
      const stock1 = e.target[0].value;
      const stock2 = e.target[1].value;
      const checkbox = e.target[2].checked;
      fetch(
        `/api/stock-prices?stock=${stock1}&stock=${stock2}&like=${checkbox}`
      )
        .then((res) => res.json())
        .then((data) => {
          document.getElementById("jsonResult").innerText =
            JSON.stringify(data);
        });
    });
  </script>
</html>
