<!DOCTYPE html>

<html>

   <head>
      <title>API: Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://bimarshbhusal.com.np/icons/icon-48x48.png?v=646f8c0b51bf5a308a3f13e771d8acf7" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Timestamp Microservice</h2>
        <ul class="user-stories">
          
          <li>API Endpoint: <code>GET [project_url]/api/date_string</code></li>
         
          
        </ul>

        <h3>Example Usage:</h3>
        <ul>
          <li>
            <a href="/timestamp/api/2022-7-15">

              <code>GET [project url]/api/2022-7-15</code></li>
            </a>
          <li>
            <a href="/timestamp/api/1657858009027">

              <code>GET project url]/api/1657858009027</code>
            </a>
          </li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1657822500000,"utc":"Thu, 14 Jul 2022 18:15:00 GMT"}</code>
        </p>
      </div>
      
   </body>

</html>