<!DOCTYPE html>

<html>
  <head>
    <title>API: URL Shortener Microservice</title>
    <link
      rel="shortcut icon"
      href="https://bimarshbhusal.com.np/icons/icon-48x48.png?v=646f8c0b51bf5a308a3f13e771d8acf7"
      type="image/x-icon"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>URL Shortener Microservice</h2>

      <h3>Example Usage:</h3>
      <ul>
        <li>
          <form action="/urlshortener/api/shorturl/new" method="POST">
            <fieldset>
              <legend>URL Shortener</legend>
              <label for="url_input">URL:</label>
              <input
                id="url_input"
                type="text"
                name="url"
                placeholder="https://www.bimarshbhusal.com.np/"
                class="url-input"
              />
              <input type="submit" value="POST URL"  class="input-button" />
            </fieldset>
          </form>
        </li>
      </ul>
    </div>
  </body>
</html>
