<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Timestamp Microservice</h2>
        <ul class="user-stories">
          
          <li>API Endpoint: <code>GET [project_url]/api/timestamp/date_string</code></li>
         
          
        </ul>

        <h3>Example Usage:</h3>
        <ul>
          <li>
            <a href="/api/timestamp/2022-7-15">

              <code>GET [project url]/api/timestamp/2022-7-15</code></li>
            </a>
          <li>
            <a href="/api/timestamp/1657858009027">

              <code>GET project url]/api/timestamp/1657858009027</code>
            </a>
          </li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1657822500000,"utc":"Thu, 14 Jul 2022 18:15:00 GMT"}</code>
        </p>
      </div>
      
   </body>

</html>